@model EMassage.Models.Review
@{
    Layout = "_Layout";
    ViewData["Title"] = "Удаление отзыва";
}

<h2>Удаление отзыва</h2>

<p>Вы уверены, что хотите удалить отзыв "@Model.Content"?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="@Url.Action("Index", "Review")" class="btn btn-secondary">Вернуться назад</a>
</form>